:root {
    --white: #fff;

    --gray--100: #F2F2F2;
    --gray--200: #D9D9D9;
    --gray--300: #808080;
    --gray--400: #333333;
    --gray--500: #262626;
    --gray--600: #1A1A1A;
    --gray--700: #0D0D0D;

    --backgroud: #454545;

    --purple-100: #8284FA;
    --purple-500: #5E60CE;

    --blue-100: #4EA8DE;
    --blue-500: #1E6F9F;

    --red-100: #E25858;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

